header{
     width:100%;
     background-image: linear-gradient( #801e11, #251d94);
     

}


body{
      margin: 0;
    background-color: #801e11;
     scroll-snap-type:y mandatory;
    
      
}


.headerS{
    display: flex;

}


.headerA{
    display: flex;
    flex-wrap: nowrap;
    height: 70px;

    justify-content: space-around;
    align-items: center;
    padding: 10px;




}

.headerA A{
    color:rgb(255, 239, 17) ;
    text-decoration: none;
    font-size: large;
    
    
}
.buscador input{
    color: white;
    width: 200px;
    outline: none;

}
.carrusel_box{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel_cont{

    height:70vh;
    display: block;
    flex-shrink: 0;
    scroll-snap-align:center;
    animation:move;
    animation-iteration-count: infinite;
    animation-duration: 10s ;
    animation-fill-mode: forwards;
    overflow: hidden;
    margin: 0px 75px;
    
    
    
}


.carrusel{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height:90vh;
    overflow:scroll;
    scrollbar-width: none;
    scroll-snap-type:x mandatory;
   


    
}


.arrows-l{
    position:absolute;
    display: block;
    left: 10px;
    z-index: 10;
}
.arrows-r{
    position:absolute;
    display: block;
    right: 10px;
    z-index: 10;
    

}

.arrows-l,.arrows-r{
    display: none;
}

.caratula{
 
    height:100%;
    position: relative;
    
}
.selectorDeCaratulas{
    width: 300px;
    scroll-snap-align:center;
    transition-duration: 2s;
    
    
 

}
.peliculas_box {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    scrollbar-width: none;
    overflow-y: scroll;
    scroll-snap-type:y mandatory;
    scroll-snap-align:center;
   

    
}


.caratula_open{
    height:70vh;
    width: 100vw;
    min-height:570px;
    min-width: 600px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(3, 6, 61);    
}
.caratula_open img{
    position: relative;
    width: 344px;
    
  
  
    
}
@keyframes img {
    
    to{
        opacity: 1;
    }
    
}
.compra{
    position: inherit;
    min-height: 314px;
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: #801e11;
    width:300px ;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0,0.2);
    padding: 20px;
    color: #aa8fa1;
    font-size: 22px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0,0.2);


}

.compra input {
    border: solid black 1px;
    &::placeholder{
        color: black;
        
    }
}
.comprar{
    width: 100%;
    color: yellow;
    height: 40px;
    border: solid black 1px;

    margin-top:15% ;
}